<div class="widgets">
  <div class="row">
    <ba-card title="Basic Example" baCardClass="with-scroll" class="data-table-container">
      <div class="row">
        <div class="col-sm-2">
          <label class="label-control">Rows on page</label>
          <select class="form-control input-sm" [(ngModel)]="rowsOnPage">
            <option [ngValue]="5">5</option>
            <option [ngValue]="10">10</option>
            <option [ngValue]="15">15</option>
          </select>
        </div>
        <div class="col-sm-4">
          <div class="row">
            <label class="col-sm-12 label-control">Sort by</label>
          </div>
          <div class="row">
            <div class="offset-sm-1 col-sm-5">
              <div class="row">
                <select class="form-control input-sm" [ngModel]="sortBy" (change)="sort(sortBy)">
                  <option ngValue="id">ID</option>
                  <option ngValue="name">Name</option>
                  <option ngValue="address">Address</option>
                  <option ngValue="phone">Phone</option>
                  <option ngValue="createdAt">Create Date</option>
                  <option ngValue="total">Total</option>
                </select>
              </div>
            </div>
            <div class="offset-sm-1 col-sm-5">
              <div class="row">
                <select class="form-control input-sm" [ngModel]="sortOrder" (change)="sort(sortBy)">
                  <option ngValue="+">Ascending</option>
                  <option ngValue="-">Descending</option>
                  <option ngValue="badValue">Bad value</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="pull-right">
            <div class="button-wrapper">
              <button [routerLink]="['new']" type="button" class="btn btn-primary  btn-md">Create</button>
            </div>
          </div>
        </div>

      </div>
      <div class="panel panel-default">
        <div class="panel-heading">List Order</div>
        <table class="table table-striped">
          <thead>
          <tr>
            <th style="width: 20%">Action</th>
            <th style="width: 5%">
              <a (click)="sort('id')" >ID</a>
            </th>
            <th style="width: 15%">
              <a (click)="sort('name')" >Name</a>
            </th>
            <th style="width: 20%">
              <a (click)="sort('address')">Address</a>
            </th>
            <th style="width: 10%">
              <a (click)="sort('phone')">Phone</a>
            </th>
            <th style="width: 10%">
              <a>Total</a>
            </th>
            <th style="width: 20%">
              <a (click)="sort('createdAt')">Create Date</a>
            </th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let item of data | paginate:{
                                                      itemsPerPage: rowsOnPage,
                                                      currentPage: activePage,
                                                      totalItems: itemsTotal }">
            <td>
              <button *ngIf="status === 1" title="Delete Order" (click)="remove(item)" class="btn btn-danger"><i class="ion-android-delete"></i></button>
              <button title="Detail Order" [routerLink]="['/pages/orders/detail',item.id]" class="btn btn-info"><i class="ion-information-circled"></i></button>
            </td>
            <td>{{item.id}}</td>
            <td>{{item.name}}</td>
            <td>{{item.address}}</td>
            <td>{{item.phone}}</td>
            <td>{{item.total}}</td>
            <td>{{item.createdAt.split('T')[0]}}</td>
          </tr>
          </tbody>
          <tfoot>
          <tr>
            <td colspan="7">
              <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
              <!--<mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>-->
            </td>
          </tr>
          </tfoot>
        </table>
      </div>
    </ba-card>
  </div>
</div>
